# These variables are used in the differents subgen-*.env & docker-compose.yml files.

#
# Used in file "subgen-common.env"
#
JELLY_TOKEN="MyJellyfinApiToken"
JELLY_SERVER="http://192.168.1.111:8096"
JELLY_WEBHOOK_PORT="9000"

#
# Used in file "docker-compose.yml"
#
NAS_USER="MyCifsShareUsername"
NAS_PASS="MyCifsSharePassword"
NAS_UID="1000"
NAS_GID="100"
NAS_IP="192.168.1.112"

#
# Used in file "subgen-translate-[fr|mk].env"
#
OLLAMA_SVC="192.168.1.113:11434"

